<%= link_to "Sign out", sign_out_path, method: :delete %>

<% if @user.avatar_url.nil?%>
<h4> No image to display </h4>
<%else%>
<%= image_tag @user.avatar_url%>
<%end%>

<div class="container-fluid">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" id="mylistings" class="active"><a href="">My Listings</a></li>
          <li role="presentation" id="myreservations"><a href="">My Reservations</a></li>
      </ul>
      <div class="profile-content">
        <li><% @user.listings.each do |list| %></li>
          <li><%= list.title %></li>
          <%end%>
      </div>
  </div>
</div>