<h1>Welcome to WaterBnB</h1>

<button type="button" class="btn btn-default">
<%= link_to "Sign in with Facebook", "/auth/facebook" %></button>

<button type="button" class="btn btn-default">
<%= link_to "All Listings", listings_path %>
</button>

<button type="button" class="btn btn-default">
<%= link_to "New Listing", new_listing_path %>
</button>